<template>
  <div class="HomePanel">
    <div class="row">
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Burger</h5>
          <img src="assets/burger.jpg" class="card-img-top" alt="...">
          <a href="#" class="btn btn-primary">Manger!</a>
        </div>
      </div>
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Pizza</h5>
          <img src="../assets/pizza.jpeg" class="card-img-top" alt="...">
          <a href="#" class="btn btn-primary">Manger!</a>
        </div>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Tacos</h5>
          <img src="../assets/tacos.jpeg" class="card-img-top" alt="...">
          <a href="#" class="btn btn-primary">Manger!</a>
        </div>
      </div>
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Autres</h5>
          <img src="../assets/sushi.jpg" class="card-img-top" alt="...">
          <a href="#" class="btn btn-primary">Manger!</a>
        </div>
      </div>
    </div>
    <br>
    <button type="button" class="btn btn-secondary btn-lg">Restaurant préféré</button>
  </div>
</template>
