<template>

      <div class="row">

        <div class="alert alert-success" role="alert">
          <h4 class="alert-heading">Nom restaurant</h4>
          <p>Description restaurant</p>
          <hr>
          <p class="mb-0">Adresse restaurant</p>
        </div>

      </div>

</template>
