<template>
  <div>
    <button @click="getEmploye">Show API</button>
    <h1 v-if="employe">{{ employe }}</h1>
    <p class="error" v-if="errorMessage">{{ errors }}</p>
  </div>
</template>

<script>
import {HTTP} from '../http-constants'
export default {
  name: 'TestAPI',
  data () {
    return {
      employe: '',
      errors: ''
    }
  },
  methods: {
    getEmploye: function () {
      HTTP.get('/1')
        .then(response => {
          this.employe = response.data.userId
        })
        .catch(e => {
          this.errors = e
        })
    }
  }
}
</script>

<style scoped>
.error {
  color: red;
}
</style>
